
  body, html {
    overflow: hidden;
  }
  
  body {
    display: grid;
    place-items: center;
    line-height: 2;
      background: hsl(0 0% 0%);
    gap: 2rem;
    font-family: 'Ubuntu', sans-serif;

  }
  
  body::before {
      --line: hsl(0 20% 10% / 4.25);
        content: "";
      height: 100%;
      width: 100%;
      position: fixed;
  
    background-color: #212121;
    background-image: url("https://media.discordapp.net/attachments/1161741424333692968/1189981712227258378/frame.png?ex=65a023d4&is=658daed4&hm=c7f23a92529d7be0e4c56727d0e1ce3b74a9c363a837f3c107c63308f7c67cb2");
      mask: linear-gradient(-15deg, transparent 30%, white);
      top: 0;
      z-index: -1;
  }
  
  .blur::before {
    content: "";
    border-radius: 200px 0px;
    opacity: 0.4;
    background: linear-gradient(0deg, rgb(39, 128, 98) 14%, rgba(97,11,116,1) 75%, rgb(161, 164, 7) 100%);
    filter: blur(162px);
    height: 35%;
    width: 55%;
    position: absolute;
    top: -20%;
    left: -66%;
    transform: translate(50%, 50%);
    z-index: -1;
    transition: padding 300ms ease;
  
  }
  
  
  .container {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bubble {
   
    display: block;
    width: auto;
    margin-top: 100px;
    border-radius: 24px;
    transition: padding 300ms ease;
  
  } 
  @import 'https://unpkg.com/open-props' layer(design.system);
  @import 'https://unpkg.com/open-props/normalize.dark.min.css'
    layer(base.normalize);
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900&family=Pacifico&display=swap');
  
  
  
  .header {
    padding: 16px 16px 12px;
    font-size: 26px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: top;
    justify-content: center;
    transition: padding 300ms ease;
    font-weight: 700;

    background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0;
  }
  
  .user-container {
    margin-left: 1%;
    font-size: 14px;
  }
  
  .username {
    color: #ffffff;

    font-weight: 700;
    font-size: 20px;
  }
  
  
  
  .textarea-container {
    background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 10px 10px;
    color: #ffffff;
  }
  
  textarea {
    padding: 18px 24px;
    height: 280px;
    width: 621px; /* Domyślna szerokość dla komputera */
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    color: #ffffff;
  
    background-color: transparent;
  }
  
  textarea::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.562);
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  /* Styl dla telefonu */
  @media screen and (max-width: 767px) {
    textarea {
      width: 100%; /* Ustawienie szerokości na 100% na telefonie */
      font-size: 15px;
  
    }
    
  
  textarea::placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.562);
  }
  
  }
  
  
  
  .centeredContainer {
    position: relative;
    --gap: 0.5rem;
    max-width: 50rem;
    flex: 1 1 auto;
    height: var(--hh);
    transition: 250ms ease all;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .notification {
    text-align: center;
    color: rgb(211, 148, 32);
    border-radius: 8px;
    z-index: 999;
    font-weight: 700;
    margin-top: 30px;
    font-size: 12px;
  }
  
  
  
  
  
  
  
  #slider h1 {
    font-family: 'Ubuntu', sans-serif;
    background-color: #191a1e00;
    color: white;
    min-height: 50vh;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
    font-size: 15px;
  }
  .loader {
    position: relative;
    margin: 0 auto;
    width: 40px;
  }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
   }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
   }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
   }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
   }
  }
  @keyframes color {
    100%, 0% {
      stroke: #d62d20;
   }
    40% {
      stroke: #0057e7;
   }
    66% {
      stroke: #008744;
   }
    80%, 90% {
      stroke: #ffa700;
   }
  }    
